header{
background-color: brown;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 0 0 50px 0;
}
/*This is for the first header*/
.first{color: blueviolet;}

.second {
    color:aqua;
}
footer{background-color: indianred;}